.App {
  text-align: center;

}
.TaskAddForm{
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* for error messages */
.text-red-500,
.errorMsg {
  color: rgb(219, 73, 73);
}


/* for password input */

/* for authform width responsiveness */
.custom-container {
  width: 50%; /* Default width for all screen sizes */

  @media (max-width: 767px) { /* Smartphone screens and smaller */
    width: 75%;
  }
}






@media (max-width: 767px) {
  body {
    /* font-size: 1.5rem; */
  }
}
